
:root{
    --main: #eeeeee;
    --sec: #DAB651;
    --acc: #263425;
}

/* .secText{
    color:var(--sec);

} */

.nav-link{
    color: #DAB651;
}
.navbar-brand{
    color:#DAB651
}

.nav-link:hover{
    color: white;
}
.navbar-brand:hover{
    color:white;
}

.navbar-toggler{
    border-color: var(--sec);
    background-color: white;
    color: var(--acc);
}

.navbarScroll{
background-color: var(--acc);
transition: 1s;
}

.header-custom{
    background:linear-gradient(black,transparent), url(./media/header.jpg);
    background-size: cover;
    background-position: center;
}

.header-customTuttigliAnnunci-custom{
    background:linear-gradient(black,transparent), url(./media/tavolo.jpg);
    background-size: cover;
    background-position: center;

}

.playfair-display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font: weight 100px;;
    font-style:italic;
  }
  
.coloreCard{
    background-color: var(--acc);
}

.colorIcone{
    color:white;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .buttonCustom{
    background-color: #263425;
    color:#DAB651;
  }

.buttonCustom:hover{
    border-color: white;
    background-color: black;
    color: #DAB651;
}

.spaceCounter{
margin-left: 100px;
margin-top:20px;
}

.customCounter{
    height:350px;
    border:1px solid black;
    border-radius: 10vh;
}

.yText{
    color: var(--sec);
}

.footer{
    margin-top: 80px;
    min-height: 40vh;
    background-color: var(--acc);
    color: var(--sec);
}

ul{
    list-style-type: none;
}

h1{
    animation-name: title;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes title {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
} 


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    height:30vh;
  }


  @media screen and (max-width: 576px){
    .cardResponsive{
       margin-left: 30px;
    }
    .spaceCounter{
        margin-left:65px;
        margin-top:20px;
        }
    .pictureRes{
        margin-top: 20px;
        margin-left:65px;
    }
    .finalTextHomeRes{
        margin-top:15px;
        text-align: center;
    }
  }